@{ 
    Layout = "../Shared/_Layout.Tablet.cshtml"; 
    ViewBag.ShowBackButton = true;
}
@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

@Html.Partial("Contact/_Contact_Info")