@{ 
    Layout = "../Shared/_Layout.Phone.cshtml";
}
@{
    ViewBag.Title = "Phone Portfolio";
    ViewBag.navTab = "Index";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">

            <ul data-role="listview" data-inset="false">
                <li data-role="list-divider">Σύντομο βιογραφικό
                </li>
                <li data-theme="c">
                    @Html.Partial("Index/_Index_ShortBio")
                </li>

            </ul>

            <div data-role="collapsible" data-collapsed="true" data-inset="false">
                <h2>Προσωπικές πληροφορίες</h2>
                <ul data-role="listview" data-inset="true">
                    <li data-role="list-divider">Ονοματεπώνυμο
                    </li>
                    <li data-theme="c">Φαφούτης Αθηνόδωρος
                    </li>
                    <li data-role="list-divider">Ημερομηνία γέννησης
                    </li>
                    <li data-theme="c">02/Φεβ/1989
                    </li>
                    <li data-role="list-divider">Στρατιωτική υποχρέωση
                    </li>
                    <li data-theme="c">Ολοκληρωμένη
                    </li>
                    <li data-role="list-divider">Οικογενειακή κατάσταση
                    </li>
                    <li data-theme="c">’γαμος
                    </li>
                    <li data-role="list-divider">Υπηκοότητα
                    </li>
                    <li data-theme="c">Ελληνική
                    </li>
                    <li data-role="list-divider">Τόπος διαμονής
                    </li>
                    <li data-theme="c">Παγκράτι και Χολαργός
                    </li>
                </ul>
            </div>

            <div data-role="collapsible" data-collapsed="true" data-inset="false">
                <h2>Λίγα λόγια για εμένα</h2>
                <ol data-role="listview" data-inset="true">
                    <li data-role="list-divider">Μερικά απο τα στοιχεία που λένε οτι με χαρακτηρίζουν 
                    </li>
                    <li data-theme="c">Πνεύμα συνεργασίας εντός ομάδας για την επίτευξη μεγάλων στόχων
                    </li>
                    <li data-theme="c">Επικοινωνιακές ικανότητες
                    </li>
                    <li data-theme="c">Καλή αντίληψη της οργάνωσης και πείρα στη διαχείριση έργων πληροφορικής
                    </li>
                    <li data-theme="c">Ικανότητα γρήγορης προσαρμογής σε διαφορετικές συνθήκες εργασίας
                    </li>
                </ol>
                <ol data-role="listview" data-inset="true">
                    <li data-role="list-divider">Κάποια προσωπικά ενδιαφέροντα
                    </li>
                    <li data-theme="c">Διαρκή παρακολούθηση τεχνολογικών εξελίξεων (geek θα λέγαμε)
                    </li>
                    <li data-theme="c">Προγραμματισμός ιστιοσελίδων και προγραμμάτων
                    </li>
                    <li data-theme="c">Αθλητισμός, με ιδιαίτερη προτήμηση στο basket και στη κολύμβηση
                    </li>
                </ol>
            </div>

        </div>
    </section>
}