@{
    ViewBag.Title = "Βιογραφικό";
}

<hgroup class="title">
    <h2>@ViewBag.Message</h2>
</hgroup>
@Html.Partial("Porfolio/_Portfolio_Jobs")

<aside>
    @Html.Partial("Porfolio/_Portfolio_AdditionalInfo")
</aside>
