@{
    ViewBag.Title = "Ρυθμίσεις";
}

<p>
    Αλλάξατε όψη και επιλέξατε το κανονικό site. Αν αλλάξετε γνώμη μπορείτε να επιστρέψεται στην κανονική εμφάνιση στο τέλος της σελίδας επιλόγοντας default.
</p>
