<section class="contact">
    <header>
        <h3>Τηλέφωνο</h3>
    </header>
    <p>
        <span class="label">Κινητό:</span>
        <span>6971741157</span>
    </p>
    <p>
        <span class="label">Σταθερό:</span>
        <span>2106542353</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Εργασίας:</span>
        <span><a href="mailto:Support@example.com">athinodwros89@gmail.com</a></span>
    </p>
    <p>
        <span class="label">Γενικό:</span>
        <span><a href="mailto:Marketing@example.com">exw_kai_msn@hotmail.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Σχετικά</h3>
    </header>
    <p>
        Επικοινωνήστε στο προσωπικό mail για περισσότερες πληροφορίες.
    </p>
</section>