<p>
    Μερικά απο τα στοιχεία που με χαρακτηρίζουν είναι το πνεύμα συνεργασίας εντός ομάδας, οι επικοινωνιακές ικανότητες, 
    η καλή αντίληψη της οργάνωσης και πείρα στη διαχείριση έργων πληροφορικής ως 
    υπεύθυνος για ομαδικές εργασίες στην διάρκεια των σπουδών, καθώς και η 
    ικανότητα γρήγορης προσαρμογής σε διαφορετικές συνθήκες εργασίας .
</p>
