<article>
    <p>
        <h3>Προγραμματιστής .Net σε Pocasport Ltd. (Τρέχων εργασία)</h3>
        <ul>
            <li>
                <strong>Στοιχεία εταιρείας :</strong> Pocasport Ltd.
            </li>
            <li>
                <strong>Ηλεκτρονική διεύθυνση :</strong> http://www.pocasport.com
            </li>
            <li>
                <strong>Διεύθηνση :</strong> Αναπαύσεως 16 και Αγιάσου 33, 152 35 Βριλήσσια
            </li>
            <li>
                <strong>Θέση εργασίας :</strong> Προγραμματιστής .Net για WebSite
            </li>
            <li>
                <strong>Ειδικά καθήκοντα :</strong>
                <ol>
                    <li>Προγραμματιστής του site για phablets "phones - tablets" http://m.stoiximan.com
                    </li>
                    <li>Υποστήριξη του τμήματος Support της εταιρείας
                    </li>
                </ol>
            </li>
        </ul>
    </p>
    
    <hr />

    <p>
        <h3>Προγραμματιστής – Αναλυτής κινητών συσκευών σε Awapai (18-10-10 Έως 18-02-11)</h3>
        <ul>
            <li>
                <strong>Στοιχεία εταιρείας :</strong> Awapai Πληροφορική ΕΠΕ
            </li>
            <li>
                <strong>Ηλεκτρονική διεύθυνση :</strong> http://www.awapai.com
            </li>
            <li>
                <strong>Διεύθηνση :</strong> Τέρμα Πατριάρχου Γρηγορίου & Νεαπόλεως, Εντός του Εθνικού Κέντρου Έρευνας Δημόκριτος, 15310 Αγία Παρασκευή
            </li>
            <li>
                <strong>Θέση εργασίας :</strong> Προγραμματιστής – Αναλυτής κινητών συσκευών
            </li>
            <li>
                <strong>Ειδικά καθήκοντα :</strong>
                <ol>
                    <li>Ανάπτυξη λογισμικού και δημιουργία του user interface της εφαρμογής eventora για κινητές συσκευές με λειτουργικό σύστημα Android 2.1+ και windows phone 7 
                    </li>
                    <li>Βελτιστοποίηση του user experience για κινητές συσκευές (smartphones)  
                    </li>
                </ol>
            </li>
        </ul>
    </p>
</article>
