<h3>Επιπλέον Έργα</h3>
<p>
    Στα προσωπικά έργα συγκαταλέγετε και η εφαρμογή <em>Ταξινομητής αποδείξεων</em> για λειτουργικό σύστημα windows vista,7,8,
    καθώς και εργασίες στo πλαίσια της εκπαίδευσής μου στην ΑΣΟΕΕ,
    <br />
    Ενδεικτικά μερικές:<br />
    <ol>
        <li>Προγραμμα ανάλυσης - αναζήτησης εικόνας με χρήση LIRE|Lucene
        </li>
        <li>Λειτουργικό σύστημα για fast food (Java)
        </li>
        <li>Spam filter σε (C)
        </li>
        <li>Δημιουργία βέλτιστου ωρολογίου προγράμματος με χρήση τεχνητής νοημοσύνης (C++)
        </li>
        <li>Σύστημα online κράτησης εισιτηρίων. 
        </li>
    </ol>
</p>
